*{ 
    margin: 0;
    padding: 0;
}

.engl-icon{
    opacity: 0.15;
}
.other-lang{
    opacity: 0.3;
}
#active-geo{
    opacity: 1;
}
#active-engl{
    opacity: 0.45;
}
.landing{
    background-color: #F1F3F6;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2%;
    
}

.lang-icon{
    padding-left: 12px;
    padding-right: 12px;
}
#line-dec{
    margin-left: 20px;
    margin-right: 20px;
}


/*
.loader{
    display: -webkit-box;
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    animation: bg 1.3s ease-in;
    position: absolute;
    z-index: 999;
}


#loader-img {
    animation-name: load;
    animation: load 1.3s ease-in ;
    width: 50vh;
    opacity: 0;
}

@keyframes bg {
    from{
        background: gray;
    }
    to {
        background: #E5E5E5;
        
    }
}

@keyframes load{
    from {
      
        opacity: 1;

    }
    
    to {
  
        opacity: 0;
    }
}
*/
body{
    z-index: 0;
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 11%;
}

.nav-links{       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
            flex: 1;
    text-align: right;
}

#logo{
    position: relative;
    bottom: 3.5px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 1%;
    line-height: 47px;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
}
#contact{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    border-radius: 50px;
    width: 113px;
    height: 52px;
    text-align: center;

    
}

#contact-link{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

#selected{
    font-weight: bold;
}
#selected::after{
    position: relative;
    content: ' ';
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    width:  6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    left: 50%;
}




.menu-icon{
    display: none;
}


.welcome{
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3% 11%;
    -ms-flex-pack: distribute;
    -webkit-flex-pack: distribute;
    -moz-flex-pack: distribute;
    justify-content: space-around;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-box {
    position: relative;
    right: 6.5%;
    width: 40%;
    
}
.text-box p{
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    font-family: 'Encode Sans', sans-serif;
    width: 120%;
}
.welcome-image-div{
    position: relative;
    width: 500px;
    height: 600px;
    left: 6.5%;
    background-repeat: no-repeat;
}
#welcome-pic{
    width: 500px;
}



#services-btn{
    margin-top: 50px;
    width: 120px;
    height: 52px;    
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    border-radius: 60px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    

}

#services-btn a{
    position: relative;
    top: 30%;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
#underline{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

#underline::after{
    
    content: '';
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    width:  100%;
    height: 7px;
    display: block;
    margin-top: -16px;
   
    
}

.nav-links ul li a:hover{
    color: #6ABD0D;
}



#get-started-div a:hover{
    font-weight: bold;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


/*---------------------------------------------------------------------
       Section 2
----------------------------------------------------------------------*/
.about{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
       -moms-column-gap: 15px;
            column-gap: 15px;
    margin: 9% 11% 0% 11%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about h2{
    padding-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Encode Sans', sans-serif;
}

.about p{
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Fira Sans', sans-serif;

}

.shape{
    position: relative;
    right: 65px;
    bottom: 5px;
}
#prices-btn{
   
    margin-top: 60px;
    width: 80px;
    height: 52px;
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    border-radius: 60px;
    text-align: center;
    position: relative;
   
}

#prices-btn a{
    position: relative;
    top: 30%; 
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

/*---------------------------------Home page/sevice section-----------------------------*/



#services-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Sans', sans-serif;
    max-width: 1140px;
}

#our-service-div{
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#our-service-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#under-service{
    text-align: center;
    width: 350px;
    height: 38px;
    font-size: 14px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.service{
    width: 255px;
    height: 100px;
    background: #F1F3F6;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.service-icon{
    position: relative;
    left: 30px;
    top: 20px;
}

.service-text{
    width: 155px;
    height: 38px;
    position: relative;
    left: 80px;
    bottom: 22px;
}

.service-list{
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
}

/*------------------------------------------------------------------------------------------------*/


/*-----------------------Home page/Price Section---------------------------------------------------*/


#prices-section{
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
}

#prices-text-div > h2{
    font-family: "Fira sans", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-weight: 700;
    color: #131313;
}

#prices-text-div > p{
    font-family: "Fira sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    
}


#prices-cards-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.cont-div{
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);    border-radius: 30px;
    -webkit-box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cont-div:nth-of-type(2){
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);

}

.cont-div:nth-of-type(3){
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);
}

.prices-card{
    margin: 1px;
    border-radius: 29px;
    background-color: #fff;
    height: 776px;
}

.header-div{
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    width: 330px;
    margin-bottom: 20px;
}

#small-business-header-div{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
}

#gold-header-div{
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);

}

.header-div > *{
    color: #fff;
    font-family: "Fira sans", sans-serif;
    letter-spacing: 0.012em;
}

.prices-header{
    padding-top: 1.9em;
}

.monthly-plan{
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.012em;
}

.price{
    padding-top: 16px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.012em;
    
}


.benefit-div{
    margin-left: 20px;
    line-height: 62px;
    border-bottom: 1px solid #E6E6E6;
    width: 310px;
}

.benefit{
    font-family: "Fira sans", sans-serif;

}

.checkmark{
    float: right;
}



#small-bus-button{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
}

#gold-bus-button {
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);

}


#best-offer-cont{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    width: 69px;
    height: 69px;
    position: absolute;
    top: -30px;
    right: -10px;
    border-radius: 50%;
}

#best-offer-div{
    height: 65px;
    width: 65px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
}

#best-offer-div>p{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Fira sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 25%;
}
/*------------------------------------------------------------------------------------------------*/


/*------------------------------------Home Page/Experts section----------------------------------*/

#experts-section {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Sans', sans-serif;
    width: fit-content;
    margin: 100px auto;
    margin-top: 200px;
}

#experts-section h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;

}
.view{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #6ABD0D;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.04em;
    margin-top: 9px;
}

#experts-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3vw;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
}

.experts-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 250px;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    color: #343434;
    line-height: 1.3rem;
}




#experts-p {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out ;
    /* border: 1px solid rgb(160, 145, 145); */
    border-radius: 10px;
    z-index: 34;
    background: white;
    opacity: 0.8;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header .info-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
 .modal-body{
     padding: 10px 15px;
 }

 .modal-body li{
     list-style-type: none;
 }

 #overlay{
     position: fixed;
     opacity: 0;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color:rgba(0, 0, 0, 0.5) ;
     pointer-events: none;
     transition: 200ms ease-in-out ;

 }

 #overlay.active {
    pointer-events: all;
    opacity: 1;
 }
#text1, #textTwo, #text3, #text4{
    display: none;
}
#text1.show-more{
    display: inline;
 }
 #textTwo.show-more{
    display: inline;
 }
#text3.show-more{
    display: inline;
}
#text4.show-more{
    display: inline;
}


/*----------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------
Footer template
-----------------------------------------------------------------------------*/
footer{
    background-color: #131313;
    padding-bottom: 30px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative;
    bottom: 0;
}

#footer-links-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 10%;
    max-width: 480px;
    margin-top: 5%;
    row-gap: 1.2em;
    -webkit-column-gap: 2.4em;
       -moz-column-gap: 2.4em;
       -ms-column-gap: 2.4em;
            column-gap: 2.4em;
    font-family: "Fira sans", sans-serif;
    font-size: 14px;
}

.footer-link{
    text-decoration: none;
    color: #fff;
    font-weight: 400; 
}

#home-footer-button{
    font-weight: 600;
}

#footer-title{
    color: #fff;
    margin-top: 5vw;
    font-family: "Fira sans", sans-serif;
    font-size: 18px;
    right: 10vw;
    text-align: right;
    position: absolute;

}

#first-footer-div{
    background-color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#divider{
    height: 1px;
    background-color: #242424;
    margin-top: 5em;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}

#footer-contact-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin-left: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 80vw;
    min-width: 80vw;
    max-height: fit-content;
    margin-bottom: -2px;
}


#number-par{
    color: #fff;
    font-size: 18px;
    font-family: "Fira sans", sans-serif;
    font-weight: 700;
    margin-top: 5em;
    float: left;
    letter-spacing: 0.012em;
}


#footer-icons-div{
    margin-top: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
}

#email-footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    margin-top: auto;
    margin-left: auto;
}

#footer-email{
    text-decoration: none;
    color: #fff;
    font-family: "Fira sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.012em;
    margin-top: -3px;
}
#footer{
    position: relative;
    min-height: fit-content;
}





/*---------------------OUR TEAM SECTION----------------------*/

#our-team-sect{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
        -ms-column-gap: 30px;
            column-gap: 30px;
    max-width: 1140px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.memb-info-div{
    background-color: #fff;
    width: 235px;
    height: 147px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: -60px;
    left: 10px;
    -webkit-box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);
       -moz-box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);
            box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);

}

.memb-info-div > *{
    font-family: "Encode sans", sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.memb-name{
    padding-top: 20px;
    margin-bottom: 15px;
}

.memb-proffesion{
    line-height: 19px;
    margin-bottom: 10px;
}

.memb-div-divider{
    height: 1px;
    width: 195px;
    background-color: #F1F3F6;
    margin-left: 20px;
    margin-bottom: 11px;
}

.memb-icons > *{
    float: left;
    margin-left: 27px;
}

.memb-icons img:nth-of-type(1){
    margin-left: 74px;
}




/*--------------------guide section-------------------------*/

#guide-section{
    margin: 50px auto;
    max-width: 1110px;
}

#guide-selection-div div:first-child{
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

#guide-selection-div{
    max-width: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
        -ms-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

#guide-selection-div a{
    text-decoration: none;
    color: #131313;
}

#guide-welcome-img{
    max-width: 100vw;
}

#guide-welcome-img-div{
    position: relative;
}

#guide-selection-div p{
    font-family: "Encode sans", sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
}

#guide-welcome-info1{
    position: absolute;
    background-color: #fff;
    max-width: 350px;
    -webkit-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
       -moz-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
            box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
    border-radius: 30px;
    font-family: "Encode sans", sans-serif;
    right: 0;
    top: 60px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
#guide-welcome-info1 h2{
    padding: 30px 30px 20px;
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
}

#guide-welcome-info1 p{
    font-weight: 400;
    font-size: 14px;
    padding: 20px 30px 15px;
}

#guide-welcome-img-div{
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

a{
    text-decoration: none;
}

.continue-reading{
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/*============================================================================
Services page
==============================================================================*/
.service-welcome{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.popular-services{
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.services-h1{
    max-width: 570px;
    text-align: center;
    height: 51px;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #131313;
    font-family: 'Fira Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.services-p{
    width: 350px;
    height: 38px;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.service-containers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
        -ms-column-gap: 30px;
            column-gap: 30px;
    margin-top: 80px;
}

.service-block:not(#green-boder){
    width: 350px;
    height: 350px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 80px;
    
}
.not-visible{
    width: 350px;
    height: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 80px;
}

.service-block{
    padding-top: 30px;
}
#green-border{
    width: 350px;
    height: 274px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
       -moz-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
            box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
    border-radius: 30px;
    margin-left: 30px;
    margin-bottom: 80px;
    position: relative;
    border-top: 0.1px solid #6ABD0D ;
    border-right: 0.1px solid #6ABD0D;
}

.spec-offer{
    position: absolute;
    left: 260px;
    bottom: 180px;
}

.service-containers h2 {
    width: 220px;
    height: 94px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #131313;
    font-family: 'Encode Sans', sans-serif;
    margin-left: 30px;
}

.service-containers p{
    width: 290px;
    height: 80px;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.service-containers a {
    text-decoration: none;
    width: 91px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;

    
}

.service-containers a p{
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);  
    display: inline-block;
    width: 91px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

.service-containers a img{
    display: inline-block;
    margin-left: 12px;
}

.service-containers h3{
    display: inline-block;
    margin-left: 90px;
    width: 54px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;


}

.lets-talk{
    max-width: 540px;
    height: 242px;
    border: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    margin: 80px auto;
}

.lets-talk h1{
    width: 150px;
    height: 34px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #131313;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.lets-talk p{
    max-width: 350px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.green-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px 32px;
    width: 123px;
    height: 52px;
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    border-radius: 60px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.green-button a{
    width: 99px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;


}


/*============================================================================
About Us Page
==============================================================================*/
.text-info ul li{
    font-size: 16px;
    line-height: 22px;
    color: #343434;
    font-family: 'Fira Sans', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.text-info ul{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 202px;
}
.text-info{
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.about-us-txt{
    max-width: 920px;
    height: fit-content;
    font-size: 16px;
    line-height: 22px;
    color: #343434;
    font-family: 'Fira Sans', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.text-info > ul{
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;

}

.line{
    display: block;
    margin: 90px auto;
}
.talk-button{
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    max-width: 123px;
    max-height: 52px;
    padding: 16px 32px;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
}
#prices-services-view-button{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 80px;
    margin-bottom: 180px;
}

/*=============================================================================
Prices Page
===============================================================================*/


#prices-section{
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
}


.prices-price-section{
    margin-top: 80px;
    margin-bottom: 180px !important;
}

#prices-text-div > h{
    font-family: "Fira sans", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-weight: 700;
    color: #131313;
}

#prices-text-div > p{
    font-family: "Fira sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    
}

#prices-cards-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cont-div{
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);    border-radius: 30px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cont-div:nth-of-type(2){
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);

}

.cont-div:nth-of-type(3){
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);
}

.prices-card{
    margin: 1px;
    border-radius: 29px;
    background-color: #fff;
    width: 380px;
    height: 540px;
}

.header-div{
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    width: 360px;
    margin-bottom: 20px;
}

#small-business-header-div{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
}

#gold-header-div{
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);

}

.header-div{
    color: #fff;
    font-family: "Fira sans", sans-serif;
}

.prices-header{
    padding-top: 1.9em;
}

.monthly-plan{
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.012em;
}

.price{
    padding-top: 16px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.012em;
    
}

.benefit-div{
    margin-left: 20px;
    line-height: 62px;
    border-bottom: 1px solid #E6E6E6;
    width: 340px;
}

.benefits{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;    
}


.checkmark{
    float: right;
}

.prices-button{
    background: -o-linear-gradient(191.97deg, #610BFC -0.9%, #FF37CC 100%);
    background: linear-gradient(258.03deg, #610BFC -0.9%, #FF37CC 100%);
    width: 310px;
    height: 52px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    color: #fff;
    font-family: "Fira sans", sans-serif;
    position: relative;
    bottom: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#small-bus-button{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
}

#gold-bus-button {
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);

}
#empty-benifit{
   opacity: 0;
}

.button-text{
    color: #fff;
}

#best-offer-cont{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    width: 69px;
    height: 69px;
    position: absolute;
    top: -30px;
    right: -10px;
    border-radius: 50%;
}

#best-offer-div{
    height: 65px;
    width: 65px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
}

#best-offer-div>p{
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Fira sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 25%;
}

#help-business-div h2{
    max-width: 400px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-family: "Fira sans", sans-serif;
    font-size: 36px;
}

#help-business-div p{
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
}

#help-business-div{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#services-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1120px;
    font-family: 'Fira Sans', sans-serif;
}

#our-service-div{
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#our-service-title{
text-align: center;
font-size: 36px;
margin-bottom: 20px;

}
#under-service{
    text-align: center;
    width: 350px;
    height: 38px;
    font-size: 14px;
    line-height: 20px;

}

.service{
    width: 255px;
    height: 100px;
    background: #F1F3F6;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
}

.service-icon{
    position: relative;
    left: 30px;
    top: 20px;
}

.service-text{
    width: 155px;
    height: 38px;
    position: relative;
    left: 80px;
    bottom: 22px;
}

.service-list{
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;

}


#prices-services-view-button{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 80px;
    margin-bottom: 180px;
}

/*============================================================================
Meet our teem section
==============================================================================*/


#team-header{
    font-family: "Fira sans", sans-serif;
    font-size: 46px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-right: auto;
    padding-left: auto;
}

#team-text-div{
    max-width: 540px;
    margin: 10px auto;
    padding-bottom: 80px;
    text-align: center;
    font-family: "Fira sans", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2em;
    padding-right: auto;
    padding-left: auto;
}

#our-team-sect-div{
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
        -ms-column-gap: 30px;
            column-gap: 30px;
    max-width: 1140px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.memb-info-div{
    background-color: #fff;
    width: 235px;
    height: 147px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: -60px;
    left: 10px;
    -webkit-box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);
       -moz-box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);
            box-shadow: 0 10px 50px rgba(51, 68, 88, 0.12);
}

.our-team-member-div{
    margin-bottom: -20px;
}

.memb-info-div > *{
    font-family: "Encode sans", sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.memb-name{
    padding-top: 20px;
    margin-bottom: 15px;
}

.memb-proffesion{
    line-height: 19px;
    margin-bottom: 10px;
}

.memb-div-divider{
    height: 1px;
    width: 195px;
    background-color: #F1F3F6;
    margin-left: 20px;
    margin-bottom: 11px;
}

.memb-icons > *{
    float: left;
    margin-left: 27px;
}

.memb-icons img:nth-of-type(1){
    margin-left: 74px;
}

#questions-div{
    margin-top: 180px;
}

#questions-div div {
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

#questions-div div h2{
    font-size: 36px;
    font-family: "Fira sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #131313;
    max-width: 350px;

}

#questions-div div p{
    font-family: "Fira sans", sans-serif;
    font-size: 14px;    
    text-align: center;
    color: #343434;
    margin-top: 10px;
}


#talk-to-us-div{
    text-align: center;
    border: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    min-height: 240px;
    max-width: 540px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-direction: normal;
        -ms-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
    margin: 80px auto 180px;
}

#talk-to-us-div h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    font-family: 'Encode Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

#talk-to-us-div p{
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.talk-button{
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
    background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);
    max-width: 123px;
    max-height: 52px;
    padding: 16px 32px;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
}

#load-more-btn{
    margin-top: 100px;
    margin-bottom: 180px;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#footer{
    position: relative;
    min-height: fit-content;
}



/*==============================================================================
Guide Page
===============================================================================*/
#guide-section{
    margin: 50px auto;
    max-width: 1110px;
}

#guide-selection-div div:first-child{
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

#guide-selection-div{
    max-width: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
        -ms-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

#guide-selection-div a{
    text-decoration: none;
    color: #131313;
}

#guide-welcome-img{
    max-width: 96vw;
}

#guide-welcome-img-div{
    position: relative;
}

#guide-selection-div p{
    font-family: "Encode sans", sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
}

#guide-welcome-info1{
    position: absolute;
    background-color: #fff;
    max-width: 350px;
    -webkit-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
       -moz-box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
            box-shadow: 0 30px 50px rgba(51, 68, 88, 0.12);
    border-radius: 30px;
    font-family: "Encode sans", sans-serif;
    right: 0;
    top: 60px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
#guide-welcome-info1 h2{
    padding: 30px 30px 20px;
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
}

#guide-welcome-info1 p{
    font-weight: 400;
    font-size: 14px;
    padding: 20px 30px 15px;
}

#guide-welcome-img-div{
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 80px;
    max-width: 100vw;
}

a{
    text-decoration: none;
}

.continue-reading{
    background: -o-linear-gradient(199.37deg, #FF8E47 46.1%, #FF2CED 100%);
    background: linear-gradient(250.63deg, #FF8E47 46.1%, #FF2CED 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#guides-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 96vw;
    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-direction: normal;
        -ms-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.guide-text h2{
    font-family: "Encode Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #131313;
    max-width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.guide-text p{
    font-family: "Fira Sans", sans-serif;
    max-width: 350px;
    color: #343434;
    margin-top: 20px;
    margin-bottom: 30px;

}

/*----------------------------------------------------------
 CONTACTS PAGE
 ----------------------------------------------------------*/

.contact-section{
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.contact-detail{
    margin-left: 150px;
    margin-top: 90px;
    width: 500px;
    
}
.contact-detail p {
    font-family: "Encode Sans", sans-serif;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    color: #131313;
  

}
.map{
    margin-right: 150px;
    margin-top: 90px;
}


/*=============================================================================
Media query for nav
===============================================================================*/


@media (max-width: 979px){
    #selected::after{
        display: none;
    }

  
    .nav-links ul {
        width: 30px;
     
    }
    
    nav{
        padding-top: 40px;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .nav-links ul li{
        display: block;
        padding-left: 10px;
    }

    .nav-links{
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        display: none;
        text-align: left;
        z-index: 2;
        -webkit-transition: 1s;
           -moz-transition: 1s;
             -o-transition: 1s;
                transition: 1s;
        background-color:#E5E5E5 ;
    }
    #contact{ 
        background: none;    
    }
    
    #contact-link{
        left: 0; 
        color: black;
        
    }
  
/*-------------------------------------------------------------
contacts media 979
----------------------------------------------------------------*/

.contact-detail{
    margin-left: 100px;
    margin-top: 90px;
    width: 400px;
    
}

.map{
    margin-right: 100px;
    margin-top: 90px;
}





/*=============================================================================
Media query
===============================================================================*/
@media (max-width: 780px){
    
    #experts-section h1{
        margin-top: 150px;
        max-width: 300px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #experts-div {
        -webkit-box-orient: vertical;
           -moz-box-orient: vertical;
            -ms-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-direction: normal;
            -ms-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
           -moz-box-align: center;
            -ms-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
  
   
    nav{
        padding-top: 40px;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .text-box{
        padding-top: 50px ;
        width: 500px;
    }

    .text-box p{
        font-size: 20px;
        line-height: 30px;        
    }

    #underline::after{
        width:  100%;
        height: 3px;
        margin-top: -10px;
    }

    .nav-links ul li{
        display: block;
        padding-left: 10px;
    }

    .nav-links{
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        display: none;
        text-align: left;
        z-index: 2;
        -webkit-transition: 1s;
           -moz-transition: 1s;
             -o-transition: 1s;
                transition: 1s;
        background-color:#E5E5E5 ;
    }
    #contact{ 
        background: none;    
    }
    
    #contact-link{
        left: 0; 
        color: black;
        
    }
    .welcome-image-div{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    #home{
        font-weight: normal;
    }
    #home::after{
        width:  0px;
        height: 0px;
    }
    .nav-links ul li:hover{
        display: block;
        padding-left: 10px;
        background: -o-linear-gradient(191.97deg, #EBFF5F -0.9%, #6ABD0D 100%);
        background: linear-gradient(258.03deg, #EBFF5F -0.9%, #6ABD0D 100%);    

        
    }
    .menu-icon{
        display: inline-block;
        width: 20px;
    }
    .welcome-image-div{
        height: 300px;
        
    }
    #get-started-div{
        
        margin-bottom: 50px;
    }


    .about{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
    }
    .about div{
        padding-top: 70px;
    }

    #under-service{
        max-width: 200px;
    
    }
    
    #see-more{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 70px;
        
    }
/*----------------------------------------
contacts media 780
-----------------------------------------*/
.contact-section{
    width: 300px;
    flex-direction: column;
    height: 800px;
    justify-content: space-evenly;
    
}
.contact-detail{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;

    
}

.map{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}



/*---------------------------------------------
media for service page
-----------------------------------------------*/

.service-title{
    padding-top: 60px;
    width: 80px;
    height: 68px;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 5px;
}

.service-txt{
    max-width: 240px;
    height: 170px;
    font-size: 24px;
    padding-bottom: 90px;  
    
}
.not-visible{
    height: 2px;
}
.services-h1{
    max-width: 432px;
    height: 101px;
    font-size: 28px;
    margin-bottom: 50px;
}
.services-p{
    width: 200px;
}
.service-containers{
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
   
}
.spec-offer{
    position: absolute;
    left: 190px;
    bottom: 210px;
    width: 90px;
}

.service-block{
    max-width: 250px;
    height: 374px;
}
.service-containers h2 {
    max-width: 210px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
}
#green-border{
    margin-left: -10px;
}

.service-containers p{
    max-width: 180px;
    height: 80px;
    font-size: 13px;
    line-height: 17px;
}

.service-containers a {
    max-width: 50px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
}

.service-containers a p{
    max-width: 51px;
    margin-left: 0px;
}

.service-containers a img{
    margin-left: 7px;
}

.service-containers h3{
    margin-left: 30px;
}
.lets-talk{
    max-width: 260px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.lets-talk h1{
    font-weight: 400;
    font-size: 20px;
}

.lets-talk p{
    max-width: 250px;
    font-size: 12px;
}

.green-button{
    margin-top: 30px;
}

.green-button a{
    font-size: 12px;
}


/*----------------------------------------------------------------
Media for prices section
------------------------------------------------------------------*/
#prices-cards-div {
    max-width: 300px;
    
}


.prices-card{
    max-width: 300px;
    height: 600px;
}



.header-div{
    width: 280px;
    margin: 0;
    display: inline-block;
    
}

.cont-div{
    max-width: 320px;
    margin-top: 35px;
}
.whole-benefits-div >*{
    max-width: 250px;
}
.benefits:first-child{
    line-height: 40px;
}
.benefit-div:first-child{
    margin-top: 20px;
}
.prices-button{
    max-width: 250px;
}

.benefit-div{
  height: 80px;
}

/*--------------------------------------------------------
Media for Team page
----------------------------------------------------------*/

#team-header{
    font-size: 36px;
}

/*--------------------------------------------------------
Media for Guide Page
----------------------------------------------------------*/
#guide-selection-div{
        flex-direction: column;
    }
    #guide-welcome-img{
        display: none;
    }
    #guide-welcome-info1{
        position: static;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

.guide-card{
    margin-top: 30px;
}
/*--------------------------------------------------------
Media for footer
----------------------------------------------------------*/
#footer-contact-div{
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
    -webkit-box-direction: reverse;
       -moz-box-direction: reverse;
        -ms-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    width: 100vw;
    top: auto;
    bottom: auto;
}

#first-footer-div > *{
    margin-top: 10px;
}

#footer-icons-div{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-icons-div img {
    padding-right: 10px;
}

#footer-icons-div img:first-child {
    margin-left: 10px;
}

#footer-links-div{
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            margin-top: 20px;
}

.footer-link{
    font-size: 18px;
}

#number-par{
    margin-top: 0;
}
#email-footer-div{
    margin-left: 0;
}

#email-footer-div img {
    padding-right: 10px;
}

}

img {
    max-width: 100%;
}